# Joe's code place

![Hackerman](https://i.kym-cdn.com/entries/icons/mobile/000/021/807/ig9OoyenpxqdCQyABmOQBZDI0duHk2QZZmWg2Hxd4ro.jpg)

# Code

In [9]:
# Imports
import os
import pandas as pd
from dotenv import load_dotenv
load_dotenv()

True

In [ ]:
""" Ticker Library init
portfolio = {'Sector':[],'Company Name':[],'Ticker':[]}
hello = [
    ['Technology','Netflix','NFLX'],
    ['Technology','Meta','FB'],
    ['Technology','Uber','UBER'],
    ['Technology','Microchip Technology','MCHP'],
    ['Technology','AirBnB','ABNB'],
    ['Energy','Diamondback Energy Inc.','FANG'],
    ['Energy','Marathon Oil Corp.','MRO'],
    ['Energy','Devon Energy Corp.','DVN'],
    ['Energy','SunPower Corp.','SPWR'],
    ['Energy','Renewable Energy Group Inc.','REGI'],
    ['Finance','McKinsey & Company','MTRX'],
    ['Finance','BlackRock','BLK'],
    ['Finance','PayPal','PYPL'],
    ['Finance','Mercadolibre Inc','MELI'],
    ['Finance','SoFi','SOFI']
]
for row in hello:
    portfolio['Sector'].append(row[0])
    portfolio['Company Name'].append(row[1])
    portfolio['Ticker'].append(row[2])
portfolio = pd.DataFrame(portfolio).set_index('Sector')
portfolio.to_csv('./Data/Cleaned_Data/Ticker_library.csv')
"""

## Twitter

In [6]:
import tweepy

True

In [8]:
def init_twitter_API():
    return tweepy.API(
        tweepy.OAuth1UserHandler(
            # Generated when you setup your Twitter Dev account
            os.getenv("twitter_api_consumer_key"),
            os.getenv("twitter_api_consumer_secret_key"),
            # You have to generate the below after you setup your Twitter Dev Account
            os.getenv("twitter_api_access_key"),
            os.getenv("twitter_api_access_secret_key")
        )
    )

tw = init_twitter_API()

## Python Edgar

In [28]:
from secedgar import CompanyFilings, FilingType

def sec_filings(sec_filings, your_name, your_email, start, end, filing_type:FilingType=FilingType.FILING_10Q):
    return CompanyFilings(cik_lookup=sec_filings,
                                filing_type=filing_type,
                                start_date=start,
                                end_date=end,
                                user_agent=f'{your_name} ({your_email})')

In [24]:
tickers = pd.read_csv('./Data/Cleaned_Data/Ticker_library.csv')['Ticker'].to_list()

In [42]:
from sec_edgar_downloader import Downloader

In [57]:
def create_SEC(path,tickers,filing_type,after_date,before_date=None):
    dl = Downloader(f'{path}')
    for ticker in tickers:
        dl.get(filing_type, ticker, after=after_date,before=before_date)

In [58]:
create_SEC('./Data/Raw_Data/',tickers,"10-Q",after_date='2012-06-01')

In [65]:
df = pd.read_html('.\Data\Raw_Data\sec-edgar-filings\ABNB/10-Q/0001559720-21-000017/full-submission.txt')

In [78]:
pan

                                                     0
0         0    1    2                              ...
1         0    1    2                              ...
2                                                  ...
3                                                  ...
4                            0                     ...
..                                                 ...
734                     0                          ...
735                     0                          ...
736                     0                          ...
737                     0                          ...
738                     0                          ...

[739 rows x 1 columns]

## PRAW reddit API