In [81]:
import numpy as np
import pandas as pd

%matplotlib inline

In [82]:
#Testing potential models

In [83]:
vader_df = pd.read_csv("../Notebooks/Data/Cleaned_Data/news_sentiment.csv", index_col="date", infer_datetime_format=True, parse_dates=True)
vader_df.head()

            Unnamed: 0 ticker       pos    neg       neu  compound
date
2022-05-06           0   ABNB  0.000000  0.000  1.000000  0.000000
2022-05-11           1   ABNB  0.075167  0.026  0.898667  0.199033
2022-05-12           2   ABNB  0.210000  0.159  0.631000  0.491200
2022-05-14           3   ABNB  0.169000  0.000  0.831000  0.709950
2022-05-16           4   ABNB  0.000000  0.000  1.000000  0.000000

In [84]:
vader_df = vader_df.drop(columns='Unnamed: 0')

In [85]:
closes = pd.read_csv("../Notebooks/Data/Cleaned_Data/stock_data.csv", index_col="date", infer_datetime_format=False, parse_dates=True)
closes.head()

           ticker   close    volume
date
2015-12-01   NFLX  125.37  12550755
2015-12-02   NFLX  128.93  24105712
2015-12-03   NFLX  126.81  26644540
2015-12-04   NFLX  130.93  20250411
2015-12-07   NFLX  125.36  23351531

In [86]:
closes.sort_index()
closes.tail()

           ticker  close    volume
date
2022-05-25   SOFI   7.01  35468235
2022-05-26   SOFI   7.14  35042166
2022-05-27   SOFI   7.55  38222764
2022-05-31   SOFI   7.48  61194845
2022-06-01   SOFI   7.05  36626131

In [87]:
#Scratch this
vader_df.to_csv('test.csv')

In [88]:
closes = closes.drop(columns='volume')
closes.head()

           ticker   close
date
2015-12-01   NFLX  125.37
2015-12-02   NFLX  128.93
2015-12-03   NFLX  126.81
2015-12-04   NFLX  130.93
2015-12-07   NFLX  125.36

In [89]:
closes_pivot = closes.pivot_table('close', ['date'], 'ticker')
closes_pivot

ticker,ABNB,BLK,DVN,FANG,FB,MCHP,MELI,MRO,MTRX,NFLX,PYPL,REGI,SOFI,SPWR,UBER
date,,,,,,,,,,,,,,,
2015-12-01,NaN,361.73,46.49,78.20,107.12,48.49,125.56,17.63,22.94,125.37,35.17,8.88,NaN,25.11,NaN
2015-12-02,NaN,358.92,43.53,76.79,106.07,46.66,124.52,16.67,22.47,128.93,35.15,8.73,NaN,26.17,NaN
2015-12-03,NaN,352.00,41.10,76.75,104.38,46.43,120.65,16.55,22.91,126.81,34.23,8.72,NaN,27.13,NaN
2015-12-04,NaN,360.76,40.53,76.31,106.18,47.37,121.78,16.12,22.11,130.93,35.62,8.89,NaN,26.68,NaN
2015-12-07,NaN,355.47,36.44,73.85,105.61,46.68,119.80,14.78,21.21,125.36,35.16,8.34,NaN,26.38,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-25,110.40,626.60,71.94,141.75,183.83,68.06,723.00,29.01,5.79,187.83,80.12,61.30,7.01,16.46,22.04
2022-05-26,114.30,652.44,73.81,146.43,191.63,70.06,783.44,29.75,5.84,191.40,80.42,61.37,7.14,17.03,23.10
2022-05-27,120.50,666.53,75.80,152.66,195.13,72.79,811.44,31.07,6.11,195.19,85.21,61.33,7.55,18.19,23.67
2022-05-31,120.87,669.08,74.90,152.02,193.64,72.65,785.88,31.43,6.03,197.44,85.21,61.31,7.48,17.67,23.20
2022-06-01,116.72,660.51,76.48,152.89,188.64,71.16,762.24,31.38,5.97,192.91,82.48,61.36,7.05,17.62,22.94

In [90]:
closes_df = pd.DataFrame(closes_pivot)
closes_df

ticker,ABNB,BLK,DVN,FANG,FB,MCHP,MELI,MRO,MTRX,NFLX,PYPL,REGI,SOFI,SPWR,UBER
date,,,,,,,,,,,,,,,
2015-12-01,NaN,361.73,46.49,78.20,107.12,48.49,125.56,17.63,22.94,125.37,35.17,8.88,NaN,25.11,NaN
2015-12-02,NaN,358.92,43.53,76.79,106.07,46.66,124.52,16.67,22.47,128.93,35.15,8.73,NaN,26.17,NaN
2015-12-03,NaN,352.00,41.10,76.75,104.38,46.43,120.65,16.55,22.91,126.81,34.23,8.72,NaN,27.13,NaN
2015-12-04,NaN,360.76,40.53,76.31,106.18,47.37,121.78,16.12,22.11,130.93,35.62,8.89,NaN,26.68,NaN
2015-12-07,NaN,355.47,36.44,73.85,105.61,46.68,119.80,14.78,21.21,125.36,35.16,8.34,NaN,26.38,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-25,110.40,626.60,71.94,141.75,183.83,68.06,723.00,29.01,5.79,187.83,80.12,61.30,7.01,16.46,22.04
2022-05-26,114.30,652.44,73.81,146.43,191.63,70.06,783.44,29.75,5.84,191.40,80.42,61.37,7.14,17.03,23.10
2022-05-27,120.50,666.53,75.80,152.66,195.13,72.79,811.44,31.07,6.11,195.19,85.21,61.33,7.55,18.19,23.67
2022-05-31,120.87,669.08,74.90,152.02,193.64,72.65,785.88,31.43,6.03,197.44,85.21,61.31,7.48,17.67,23.20
2022-06-01,116.72,660.51,76.48,152.89,188.64,71.16,762.24,31.38,5.97,192.91,82.48,61.36,7.05,17.62,22.94

In [91]:
#Fill missing values with previous
closes_df = closes_df.fillna(method='pad')
closes_df

ticker,ABNB,BLK,DVN,FANG,FB,MCHP,MELI,MRO,MTRX,NFLX,PYPL,REGI,SOFI,SPWR,UBER
date,,,,,,,,,,,,,,,
2015-12-01,NaN,361.73,46.49,78.20,107.12,48.49,125.56,17.63,22.94,125.37,35.17,8.88,NaN,25.11,NaN
2015-12-02,NaN,358.92,43.53,76.79,106.07,46.66,124.52,16.67,22.47,128.93,35.15,8.73,NaN,26.17,NaN
2015-12-03,NaN,352.00,41.10,76.75,104.38,46.43,120.65,16.55,22.91,126.81,34.23,8.72,NaN,27.13,NaN
2015-12-04,NaN,360.76,40.53,76.31,106.18,47.37,121.78,16.12,22.11,130.93,35.62,8.89,NaN,26.68,NaN
2015-12-07,NaN,355.47,36.44,73.85,105.61,46.68,119.80,14.78,21.21,125.36,35.16,8.34,NaN,26.38,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-25,110.40,626.60,71.94,141.75,183.83,68.06,723.00,29.01,5.79,187.83,80.12,61.30,7.01,16.46,22.04
2022-05-26,114.30,652.44,73.81,146.43,191.63,70.06,783.44,29.75,5.84,191.40,80.42,61.37,7.14,17.03,23.10
2022-05-27,120.50,666.53,75.80,152.66,195.13,72.79,811.44,31.07,6.11,195.19,85.21,61.33,7.55,18.19,23.67
2022-05-31,120.87,669.08,74.90,152.02,193.64,72.65,785.88,31.43,6.03,197.44,85.21,61.31,7.48,17.67,23.20
2022-06-01,116.72,660.51,76.48,152.89,188.64,71.16,762.24,31.38,5.97,192.91,82.48,61.36,7.05,17.62,22.94

In [108]:
uber_sent_df = pd.read_csv('../Notebooks/Data/Cleaned_Data/uber_sentiment.csv', index_col='datetime')
uber_sent_df.head()

,articles_compound_sentiment,articles_positive_sentiment,articles_neutral_sentiment,articles_negative_sentiment,securityanalysis_compound_sentiment,securityanalysis_positive_sentiment,securityanalysis_neutral_sentiment,securityanalysis_negative_sentiment,algotrading_compound_sentiment,algotrading_positive_sentiment,algotrading_neutral_sentiment,algotrading_negative_sentiment,wallstreetbets_compound_sentiment,wallstreetbets_positive_sentiment,wallstreetbets_neutral_sentiment,wallstreetbets_negative_sentiment
datetime,,,,,,,,,,,,,,,,
2013-01-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.272,0.156,0.709,0.136
2013-01-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.13385,0.058,0.8805,0.061,NaN,NaN,NaN,NaN

In [109]:
# function to filter through all csv files in Cleaned_Data and return dataframe for a ticker
import os 
def stock_picker(ticker):

    stock_df_list = []
    file_path = '../Notebooks/Data/Cleaned_Data'

    for filename in os.listdir(file_path):
        if filename.endswith(".csv") and filename != 'Ticker_library.csv':
            csv_df = pd.read_csv(file_path +'/'+ filename, parse_dates=True, infer_datetime_format=True,index_col='datetime')
            csv_df = csv_df.loc[csv_df['ticker'] == ticker]
            csv_df.drop(columns='ticker',axis=1,inplace=True)
            #csv_df.set_index('date',inplace=True)
            stock_df_list.append(csv_df)
    all_ticker_data_df = pd.concat(stock_df_list,axis=1,join='outer')
    all_ticker_data_df.insert(0, 'ticker', ticker)
    return all_ticker_data_df.drop(columns='Unnamed: 0')

In [110]:
uber_stock = closes_df.loc[:,'UBER']
uber_stock_df = pd.DataFrame(uber_stock)
uber_stock_df.tail()

             UBER
date
2022-05-25  22.04
2022-05-26  23.10
2022-05-27  23.67
2022-05-31  23.20
2022-06-01  22.94

In [111]:
uber_stock_df

             UBER
date
2015-12-01    NaN
2015-12-02    NaN
2015-12-03    NaN
2015-12-04    NaN
2015-12-07    NaN
...           ...
2022-05-25  22.04
2022-05-26  23.10
2022-05-27  23.67
2022-05-31  23.20
2022-06-01  22.94

[1637 rows x 1 columns]

In [112]:
uber_concat = pd.concat([uber_sent_df, uber_stock_df], axis=0)
uber_concat.head()

,articles_compound_sentiment,articles_positive_sentiment,articles_neutral_sentiment,articles_negative_sentiment,securityanalysis_compound_sentiment,securityanalysis_positive_sentiment,securityanalysis_neutral_sentiment,securityanalysis_negative_sentiment,algotrading_compound_sentiment,algotrading_positive_sentiment,algotrading_neutral_sentiment,algotrading_negative_sentiment,wallstreetbets_compound_sentiment,wallstreetbets_positive_sentiment,wallstreetbets_neutral_sentiment,wallstreetbets_negative_sentiment,UBER
2013-01-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.272,0.156,0.709,0.136,NaN
2013-01-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.13385,0.058,0.8805,0.061,NaN,NaN,NaN,NaN,NaN

In [113]:
uber_concat = uber_concat.drop(columns=['articles_compound_sentiment','articles_positive_sentiment','articles_neutral_sentiment','articles_negative_sentiment',
'securityanalysis_compound_sentiment', 'securityanalysis_positive_sentiment','securityanalysis_neutral_sentiment','securityanalysis_negative_sentiment','algotrading_compound_sentiment','algotrading_positive_sentiment','algotrading_neutral_sentiment','algotrading_negative_sentiment','wallstreetbets_positive_sentiment','wallstreetbets_neutral_sentiment','wallstreetbets_negative_sentiment'])

In [114]:
uber_concat.head()

            wallstreetbets_compound_sentiment  UBER
2013-01-10                              0.272   NaN
2013-01-11                                NaN   NaN
2013-01-12                                NaN   NaN
2013-01-13                                NaN   NaN
2013-01-14                                NaN   NaN

In [115]:
uber_concat

                     wallstreetbets_compound_sentiment   UBER
2013-01-10                                       0.272    NaN
2013-01-11                                         NaN    NaN
2013-01-12                                         NaN    NaN
2013-01-13                                         NaN    NaN
2013-01-14                                         NaN    NaN
...                                                ...    ...
2022-05-25 00:00:00                                NaN  22.04
2022-05-26 00:00:00                                NaN  23.10
2022-05-27 00:00:00                                NaN  23.67
2022-05-31 00:00:00                                NaN  23.20
2022-06-01 00:00:00                                NaN  22.94

[1648 rows x 2 columns]

In [116]:
def window_data(df, window, feature_col_number, target_col_number):
    X = []
    y = []
    for i in range(len(df) - window - 1):
        features = df.iloc[i:(i + window), feature_col_number]
        target = df.iloc[(i + window), target_col_number]
        X.append(features)
        y.append(target)
    return np.array(X), np.array(y).reshape(-1, 1)

In [117]:
window_size = 30

# Column index 0 is the 'fng_value' column
# Column index 1 is the `Close` column
feature_column = 0
target_column = 1
X, y = window_data(uber_concat, window_size, feature_column, target_column)

In [118]:
# Use 70% of the data for training and the remaineder for testing
split = int(0.7 * len(X))
X_train = X[: split]
X_test = X[split:]
y_train = y[: split]
y_test = y[split:]

In [119]:
from sklearn.preprocessing import MinMaxScaler
# Use the MinMaxScaler to scale data between 0 and 1.
# Create a MinMaxScaler object
scaler = MinMaxScaler()

# Fit the MinMaxScaler object with the features data X
scaler.fit(X_train)

# Scale the features training and testing sets
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

# Fit the MinMaxScaler object with the target data Y
scaler.fit(y_train)

# Scale the target training and testing sets
y_train = scaler.transform(y_train)
y_test = scaler.transform(y_test)

c:\Users\krist\anaconda3\lib\site-packages\sklearn\preprocessing\_data.py:400: RuntimeWarning: All-NaN slice encountered
  data_min = np.nanmin(X, axis=0)
c:\Users\krist\anaconda3\lib\site-packages\sklearn\preprocessing\_data.py:401: RuntimeWarning: All-NaN slice encountered
  data_max = np.nanmax(X, axis=0)

In [120]:
# Reshape the features for the model

X_train = X_train.reshape((X_train.shape[0], X_train.shape[1], 1))
X_test = X_test.reshape((X_test.shape[0], X_test.shape[1], 1))

In [121]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout

In [122]:
model = Sequential()

number_units = 5
dropout_fraction = 0.2

#Layer 1
model.add(LSTM(
    units=number_units,
    return_sequences=True,
    input_shape=(X_train.shape[1], 1))
    )
model.add(Dropout(dropout_fraction))

#Layer 2
model.add(LSTM(units=number_units, return_sequences=True))
model.add(Dropout(dropout_fraction))

#Layer 3
model.add(LSTM(units=number_units))
model.add(Dropout(dropout_fraction))

#Output Layer
model.add(Dense(1))

In [123]:
model.compile(optimizer='adam', loss = 'mean_squared_error')

In [124]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_6 (LSTM)               (None, 30, 5)             140

 dropout_6 (Dropout)         (None, 30, 5)             0

 lstm_7 (LSTM)               (None, 30, 5)             220

 dropout_7 (Dropout)         (None, 30, 5)             0

 lstm_8 (LSTM)               (None, 5)                 220

 dropout_8 (Dropout)         (None, 5)                 0

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 586
Trainable params: 586
Non-trainable params: 0
_________________________________________________________________

In [125]:
model.fit(X_train, y_train, epochs=10, shuffle=False, batch_size=1, verbose=1)

Epoch 1/10
1131/1131 [==============================] - 22s 15ms/step - loss: nan
Epoch 2/10
1131/1131 [==============================] - 15s 14ms/step - loss: nan
Epoch 3/10
1131/1131 [==============================] - 15s 13ms/step - loss: nan
Epoch 4/10
1131/1131 [==============================] - 15s 13ms/step - loss: nan
Epoch 5/10
1131/1131 [==============================] - 16s 14ms/step - loss: nan
Epoch 6/10
1131/1131 [==============================] - 17s 15ms/step - loss: nan
Epoch 7/10
1131/1131 [==============================] - 19s 17ms/step - loss: nan
Epoch 8/10
1131/1131 [==============================] - 20s 18ms/step - loss: nan
Epoch 9/10
1131/1131 [==============================] - 18s 16ms/step - loss: nan
Epoch 10/10
1131/1131 [==============================] - 18s 16ms/step - loss: nan

In [126]:
model.evaluate(X_test, y_test)

16/16 [==============================] - 1s 5ms/step - loss: nan

nan

In [127]:
predict = model.predict(X_test)

16/16 [==============================] - 1s 4ms/step

In [128]:
predicted_prices = scaler.inverse_transform(predicted)
real_prices = scaler.inverse_transform(y_test.reshape(-1, 1))

In [129]:
# Create a DataFrame of Real and Predicted values
stocks = pd.DataFrame({
    "Real": real_prices.ravel(),
    "Predicted": predicted_prices.ravel()
}, index = uber_concat.index[-len(real_prices): ]) 
stocks.head()

ValueError: Shape of passed values is (483, 2), indices imply (486, 2)